header {
  height: 100px;
}
.logo {
  color: var(--color--secondary);
  font-size: 40px;
}
.blank1 {
  width: 600px;
}
.menu {
  color: var(--color--primary);
  border: none;
  background: none;
  font-size: var(--font-size--large);
  margin: 10px;
}
.mainImg > img {
  width: 100vw;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .blank1 {
    width: 200px;
  }
}
